





.hero-title {
    color: #FFFFFF;
}

.hero-section {
    background-color: #2F303A;
}


.button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #188CE8;
}

.button:focus {
    background-color: #2196F3;
}


.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
         overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
         clip-path: inset(50%);
         margin: -1px;
  }


.team-section {
    background-color: #F5F4FA;
}

.card-bg {
    background-color: #FFFFFF;
}


.footer-section {
    background-color: #2F303A;
}